<nav class="footerNav">
    {{> partial_nav}}
</nav>
<footer>
    <ul class="">
        <li><a href="{{#pagePath langPath lang.PAGE_ABOUT_US}}{{/pagePath}}">{{lang.FOOTER_ABOUT_US}}</a></li>
        <li class="socialIcons">
            <a href="https://www.facebook.com/misitioba/" target="_blank">
                {{{lang.FOOTER_FACEBOOK_TEXT}}}
                <!--<i class="fab fa-facebook fb-icon"></i>-->
            </a>
            <!--
            <a href="http://instagram.com/eutopiaecoaldea" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            -->
        </li>
        <li><a href="/es">Español</a></li>
        <li><a href="/">English</a></li>
    </ul>
</footer>